{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "plugins": ["react-hooks"],
  "rules": {
    "strict": 0,
    "react-hooks/rules-of-hooks": "error"
  }
}
